html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none !important;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}
a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}
img {
  width: 100% !important;
}

:root {
  --main-color: #212741;
  --hover-color: #2127410f;
  --scond-color: #ff511a;
  --thired-color: #43ba7f;
}
.active {
  color: var(--scond-color) !important;
}
.motion-button {
  background: none !important;
  border: none !important;
  outline: none !important;
}
/* start navBar */
.nave{
  width: 100%;
<<<<<<< HEAD
} */
=======
}
>>>>>>> 9804d50dd4f948a9d50f273982b4d150610fe067
.nave .Container {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
<<<<<<< HEAD
}
=======

>>>>>>> 9804d50dd4f948a9d50f273982b4d150610fe067
.navBar {
  background-color: var(--main-color);
  position: fixed;
  top: 0;
  width: 100%;
<<<<<<< HEAD
  z-index: 100;
=======
   z-index: 100; 
>>>>>>> 9804d50dd4f948a9d50f273982b4d150610fe067
}
.navBar img {
  width: 150px !important;
}
.navBar a {
  font-weight: 600;
  font-size: 18px;
  margin-right: 20px;
}
.navBar a:not(.active) {
  color: white !important;
}
.navbar-nav .dropdown-menu a {
  color: var(--main-color) !important ;
  margin: 0;
  display: inline-block;
}
.navbar-toggler {
  background-color: white !important;
}
@media (max-width: 992px) {
  /* For mobile view */
  .navbar-nav {
<<<<<<< HEAD
    display: flex;
=======
   display: flex;
>>>>>>> 9804d50dd4f948a9d50f273982b4d150610fe067
  }
}
/* End navBar */
/* Start Home-sidler */

.home img {
  filter: brightness(0.3);
  width: 100% !important;
  height: 700px !important;
  background-size: cover;
  padding-top: 0px;
  background-position: center;
}
.carousel-caption {
  text-align: left !important;
  width: 40%;
  top: 30%;
}

.carousel-caption h1 {
  font-size: 50px;
  font-weight: bold;
}
.carousel-caption h1 span {
  color: var(--scond-color);
}

.carousel-caption p {
  letter-spacing: 1 !important;
  font-weight: 400;
}
.line {
  /* margin-top: 3% !important; */
  width: 15% !important;
  height: 5px !important;
  background-color: #f3f4f8;
  border-radius: 5px !important;
}
.btBg {
  display: flex;
  gap: 10px;
  margin-right: 20px;
}
.btBg #contactbtn{
  background-color: var(--thired-color) !important;
  padding: 10px 10px;
}

.btBg #discover {
  background-color: var(--scond-color) !important;
  margin-right: 10px;
}
@media (max-width: 992px) {
  .btBg {
    margin-right: 0px;
    gap: 1px !important;
  }
  .carousel-caption {
    top: auto !important;
    font-weight: bold;
    width: auto;
  }
}
/* End Home-sidler */

/* start services */
.Services {
  text-align: center !important;
  margin: 100px 0px !important;
}
.Services h1 {
  /* font-size: 35px; */
  font-weight: bold;
  text-transform: uppercase;
  color: var(--main-color);
}
.Services h5 {
  color: var(--scond-color);
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
}
.servicesItems {
  border-radius: 5px;
  margin-top: 20px;
  text-align: left;
  box-shadow: rgba(111, 111, 119, 0.397) 0px 1px 2px 0px,
    rgb(255, 255, 255) 0px 1px 3px 1px;
  padding: 50px;
  cursor: pointer;
  padding-bottom: 20px;
  margin-bottom: 50px;
  transition: all 0.5s;
}
.servicesItems i {
  float: left;
  margin-right: 30px;
  margin-bottom: 100px;
  font-size: 65px;
  color: var(--thired-color);
  transition: all 0.5s;
  font-weight: bold;
}
.servicesItems h4 {
  font-weight: bold;
}
.servicesItems p {
  letter-spacing: 1px !important;
  margin-top: 15px;
}
.servicesItems:hover i {
  margin-top: 10px;
}
/* End services */

/* start BusinessSolutions  */
.businessSolutions {
  background-image: url(./Images/cta-bg.6698bd6aca6e44ea2ecb.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px 0;
  width: 100%;
  margin: 100px 0;
}
.businessSolutions h1 {
  color: white;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
}
.businessSolutions span {
  color: var(--scond-color);
}
.BusinessSolutions .greens {
  color: var(--thired-color);
}
@media (max-width: 992px) {
  .businessSolutions .Container {
    flex-direction: column !important;
    text-align: center;
  }
  .businessSolutions .buttons {
    margin-top: 40px;
  }
}
/* end BusinessSolutions */

/* Start AboutUs */
.AboutUS {
  text-align: center;
  margin-bottom: 50px;
}
.AboutUS h6 {
  color: var(--scond-color);
  font-weight: bold;
  font-size: 25px;
}
.AboutUS h2 {
  color: var(--main-color) !important;
  font-weight: bold;
}

.AboutUS .texts {
  margin-top: 20px;
  margin-bottom: 50px;
}
.content {
  margin-top: 50px;
}
.rightText {
  text-align: left;
}
.rightText h4 {
  font-weight: bold;
  margin-bottom: 40px !important;
}
.rightText p span {
  font-weight: 700;
  margin-bottom: 40px !important;
  letter-spacing: 1px;
  color: var(--scond-color);
}
.rightText p {
  margin-bottom: 40px !important;
  letter-spacing: 1px;
  font-size: 18px;
}
@media (max-width: 992px) {
  .content .rightText {
    margin-top: 50px;
    text-align: center;
  }
}
.AboutUS .leftText {
  text-align: left;
}
.AboutUS .leftText .tabss {
  display: flex;
  gap: 30px;
}
.AboutUS .leftText .tabss Button {
  font-weight: bold;
  font-size: 20px;
  background-color: #ffffff;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 5px;
  border: none;
  padding: 10px 20px;
}
.AboutUS .leftText .tabss Button.active {
  color: var(--scond-color) !important;
}

.AboutUS table {
  width: 90%;
}
.AboutUS .TableContent {
  margin-top: 30px !important;
}
.AboutUS table thead th {
  color: var(--main-color);
  font-size: large;
  font-weight: bold;
}
.AboutUS table tbody tr:not(:last-child) {
  border-bottom: 1px solid var(--scond-color) !important;
}
.AboutUS table tbody td {
  font-size: large;
  font-weight: 400;
  padding: 20px 0px;
}
.AboutUS table tbody td:first-child {
  font-weight: 700;
  color: var(--thired-color);
}

@media (max-width: 992px) {
  .AboutUS .leftText .tabss {
    flex-direction: column;
  }
}

/* End AboutUs */
/* start Testimonials */
.Testimonials {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.Testimonials h6 {
  color: var(--scond-color);
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 18px;
}
.Testimonials h2 {
  font-weight: bold;
}
.slick-prev,
.slick-next {
  display: none !important;
}
.Testimonials .content .items {
  display: flex !important;
  width: 70% !important;
  margin: auto;
  text-align: left;
  background-color: #ffffff;
  box-shadow: 0 0 15px #0000001a;
  border-radius: 15px;
  align-items: center;
  cursor: pointer;
}
.Testimonials .content .info {
  padding: 30px 50px;
}
.Testimonials .content .items i {
  background-color: #43ba7f;
  border-radius: 5px;
  color: #fff;
  font-size: 44px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  width: 70px;
  margin-top: 20px;
}

.Testimonials .content .items p {
  font-size: 16px;
  font-style: italic;
  margin: 30px 0;
}
.Testimonials .content .image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 90%;
}
.Testimonials .content .items h4 {
  font-size: 22px;
  font-weight: 600;
}

.Testimonials .content .items span {
  color: #43ba7f;
  font-size: 15px;
  font-weight: 600;
  margin-top: 5px;
}
@media (max-width: 992px) {
  .Testimonials .content .items {
    flex-direction: column-reverse;
    width: 100% !important;
    border-radius: 20px;
    border: none !important;
  }
  .Testimonials .content .info {
    text-align: center;
  }
  .Testimonials .content .image {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100% !important;
    border-radius: 50px !important;
  }
}

/* end testimonials */
/* start footer */
.footer {
  text-align: center;
  background-color: #212741;
  color: #f1f1f1;
  padding-top: 30px;
  padding-bottom: 20px;
  align-items: center;
  font-weight: bold;
}
.footer span {
  color: #43ba7f;
}
/* End Footer */

/* start AboutHome */
.AboutHome {
  background-image: url(./Images/calculator-bg.3e1e3d3b0debe48c0ff2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 100px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
}
.AboutHome h2 {
  color: white;
  font-weight: bold;
  padding-top: 100px 0px;
}
/* end AboutHome */

/* start AboutContent */
.AboutContent {
  padding-top: 100px;
}

.AboutContent img {
  width: 90%;
  border-radius: 15px !important;
}

.AboutContent .contentText {
  border-radius: 5px;
  box-shadow: 0 0 15px #0000001a;
  padding: 50px 40px;
  border-radius: 8px !important;
}

.AboutContent .contentText .accordion-button {
  box-shadow: none !important;
  border: none !important;
  font-weight: 700;
  font-size: 20px;
  padding: 20px 10px;
}
.AboutContent .contentText p {
  font-weight: 600;
  padding: 25px 25px;
}
.accordion-button:not(.collapsed) {
  color: #43ba7f !important;
  font-weight: bold !important;
}
@media (max-width: 992px) {
  .AboutContent .imgsTo {
    text-align: center;
    margin-bottom: 30px;
  }
}
/* end AboutContent */

/* start TellUs */
.TellUs {
  padding-top: 50px;
  padding-bottom: 50px;
}
.TellUs .rightText {
  padding-bottom: 50px;
}
.TellUs h4 {
  padding-bottom: 20px;
  font-weight: bold;
}
.TellUs p {
  letter-spacing: 1px;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 10px;
}

.TellUs .item {
  border-radius: 5px;
  box-shadow: 0 0 15px #0000001a;
  padding: 40px 30px;
  position: relative;
}
.TellUs .item h4 {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 22px;
}

.TellUs .item span {
  color: #43ba7f;
  font-size: 44px;
  font-weight: 600;
  position: absolute;
  right: 15px;
  top: 10px;
  transition: all 0.3s;
}
.TellUs .item span:hover {
  padding-top: 8px;
  transition: 0.5;
}
.TellUs .item .leftTex {
  margin-bottom: 20px;
}

@media (max-width: 992px) {
  .TellUs .rightText {
    text-align: center;
  }
}

/* end TellUs */

/* start Services */
.ServicesHome {
  background-image: url(./Images/calculator-bg.3e1e3d3b0debe48c0ff2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 100px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.ServicesHome h2 {
  color: white;
  font-weight: bold;
  padding-top: 100px 0px;
}

/* End Services */

/*Start ServicesContent */
.ServicesContent {
  margin: 50px 0px;
}
.allItems {
  margin: 100px 0px;
}

.textContent i {
  margin-right: 30px;
  background-color: #43ba7e3f;
  font-size: 70px;
  color: var(--thired-color);
  transition: all 0.5s;
  font-weight: bold;
  border-radius: 10px;
  padding: 20px 30px;
  margin-bottom: 10px;
}

.textContent h4 {
  color: rgb(33, 39, 65);
  font-size: 36px;
  font-weight: 700;
  margin-top: 30px;
}
.textContent p {
  letter-spacing: 1px;
  margin-top: 30px;
}

.ServicesContent .images {
  width: 95%;
  border-radius: 15px !important;
}

@media (max-width: 992px) {
  .ServicesContent .Images {
    width: 100%;
  }
  .allItems {
    flex-direction: column;
    text-align: center;
  }
  .textContent {
    margin-top: 10px;
  }
}

/* end ServicesContent */

/* start Knowledge */
.invest {
  margin-bottom: 100px;
}
.title {
  text-align: center !important;
  margin: 50px 0px;
}

.title h5 {
  color: #ff511a;
  font-weight: bold;
}
.title h1 {
  font-weight: bold;
  color: #212741;
}

.TableContent th {
  text-align: center;
}
/* end Knowledge */
/* start InvestMents */
.invest .title {
  text-align: center;
  margin-bottom: 50px;
}
.invest .title h6 {
  font-weight: bold !important;
  color: #ff511a;
}
.invest .title h1 {
  font-weight: bold;
  color: #212741 !important;
}

.content .leftText .allButton {
  display: flex;
  margin: 20px 0;
  gap: 20px;
  justify-content: center;
}
.allButton button {
  font-weight: bold;
  font-size: 20px;
  background-color: #ffffff !important;
  color: black !important;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  border-radius: 5px;
  border: none;
  padding: 20px 20px;
}
.allButton Button.active {
  color: var(--scond-color) !important;
}
.Boxing {
  display: flex;
  gap: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.Boxing .imgContent {
  width: 80%;
}
.Boxing .imgContent img {
  border-radius: 10px;
  height: 450px !important;
  object-fit: cover;
}
.Boxing .boxText {
  width: 100%;
  margin: 30px !important;
  padding-left: 50px;
}
.Boxing .boxText h1 {
  margin-bottom: 20px;
}
.Boxing .boxText p {
  letter-spacing: 1px;
  font-weight: 500;
  margin-bottom: 12px;
}
.Boxing .boxText span {
  color: #212741;
  display: block;
  font-size: 15px;
  font-style: italic;
  font-weight: 500;
  margin-bottom: 12px;
}
@media (max-width: 992px) {
  .Boxing {
    flex-direction: column;
    gap: 10px;
    align-items: center;
    text-align: center;
  }
  .Boxing .imgContent {
    width: 100%;
  }
}
@media (max-width: 992px) {
  .invest .leftText .allButton {
    flex-direction: column !important;
    justify-content: none !important;
  }
}

/* end InvestMents */

/* start contact */

.contactHome {
  background-image: url(./Images/calculator-bg.3e1e3d3b0debe48c0ff2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  padding: 100px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: #f1f1f1;
  font-weight: bold;
}
.MapContacts {
  margin: 100px 0px;
  position: relative;
}

.MapContacts .infos {
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  display: flex;
  align-items: center;
  gap: 30px;
}
.MapContacts .infos .items {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px #0000001a;
  margin: -60px 15px 0;
  padding: 25px;
  text-align: center;
  transition: all 0.5s;
  flex-direction: column;
  width: 220px;
}
.MapContacts .infos .items:hover {
  margin-top: -70px;
}
.MapContacts .infos .items i {
  font-size: 40px;
  color: #43ba7f;
  margin-bottom: 10px;
}
.MapContacts .infos .items h4 {
  color: #212741;
  font-weight: 600;
  margin: 20px 0px 15px 0px;
  font-size: 20px;
}
.MapContacts .infos .items a {
  color: #43ba7f;
  font-size: 15px;
  font-weight: 600;
}

@media (max-width: 992px) {
  .MapContacts .infos {
    display: none !important;
  }
}

/* end contact */

/* start AddressInfo */

.AddressInfo .infos {
  display: flex;
  gap: 20px;
  flex-direction: column;
}
.AddressInfo .infos .items {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 15px #0000001a;
  padding: 25px;
  text-align: center;
  margin-bottom: 10px;
}

.AddressInfo .infos .items i {
  font-size: 40px;
  color: #43ba7f;
  margin-bottom: 10px;
}
.AddressInfo .infos .items h4 {
  color: #212741;
  font-weight: 600;
  margin: 20px 0px 15px 0px;
  font-size: 20px;
}
.AddressInfo .infos .items a {
  color: #43ba7f;
  font-size: 15px;
  font-weight: 600;
}
/* End AddressInfo */

/* start FormContact */
.FormContact {
  margin: 100px 0px;
  text-align: center;
}
.FormContact .form-group {
  margin-bottom: 20px;
}
.FormContact .form-group label {
  color: #212741;
  font-weight: bold !important;
  margin-bottom: 5px;
}
.FormContact input {
  background-color: #f7f7f7;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  height: 50px;
  margin-bottom: 50px;
  outline: none;
  padding: 0 15px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  background-color: #f1f1f1;
}
.FormContact textarea {
  background-color: #f7f7f7;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-bottom: 50px;
  outline: none;
  padding: 10px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  background-color: #f1f1f1;
}

.FormContact .Submit {
  color: #fff;
  background-color: #ff511a !important;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: large;
  font-weight: bold !important;
}

/* end FormContact */
